.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 30px;
  
  .button {
    align-items: center;
    border: 1px solid #000;
    border-radius: 7px;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 125px;

    .buttonText {
      font-size: 18px;
    }
  }
}
